*{
    margin:0;
    padding:0;
}

body{
    background-color:#a2b2da
}

.cabecalho {
    background-color:#2E62E9;
    display: flex;
    justify-content: space-around;}

.cabecalho-imagem {
    width: 80;
    padding: 12px;
}  
.lista-cabecalho {
    display: inline-block;
    padding: 30px;
    color: floralwhite;
    font-size: 15px;
    
} 

.escola {
    background-image: -webkit-linear-gradient();
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px 0;
}

.texto-lista {

    display: inline-block;
    list-style-type: none;
}
